@model BPLLCWEB.Domain.Entities.Logins

@{
    ViewBag.Title = "Secret Question and Answer";
    string message = Convert.ToString(TempData["Message"]);
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<fieldset id="navpagefieldset">

    <div class="navHeader">
        Retrieve Password
    </div>

    <div id="navBody">

        <table>

            @*not template begin*@

            <tr>
                <td style="width: 620px">

                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary()
                        
                        @Html.HiddenFor(m => m.UID)
                        @Html.HiddenFor(m => m.UserName)
                        @Html.HiddenFor(m => m.Errors)
                        
                        <fieldset id="contactfieldset">
                            <legend>&nbsp;&nbsp;<strong>Step 2</strong>&nbsp;&nbsp;</legend>
                            <br />
                            Please answer your secret question to continue.
                            <br />

                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr><td colspan="2" height="10"></td></tr>
                                            <tr>
                                                <td colspan="2"><font color="red">@message</font></td>
                                            </tr>
                                            <tr style="vertical-align: top">
                                                <td width="120px">
                                                    <div class="editor-label">
                                                        <strong>Secret Question:</strong>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.TextBox("SecretQuestion",  Model.SecretQuestion, new { style = "width: 280px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="editor-label">
                                                        <strong>Secret Answer:</strong>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.TextBox("SecretAnswer", null, new { style = "width: 280px" })
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr><td height="10"></td></tr>
                                <tr>
                                    <td>
                                        <div class="editor-label">
                                            <input type="submit" value="Continue" class="boxsubmit">
                                        </div>

                                    </td>
                                </tr>

                            </table>

                        </fieldset>
                    }

                </td>

            </tr>


            @*not template end*@

        </table>

    </div>

</fieldset>



<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $("#SecretQuestion").focus();
        });
    });
</script>